
    <form method="post">
        <div>
            <label for="user">Usuario:</label><br>
            <input size="15" type="text" id="user" name="user">
        </div>
        <div>
            <label for="password">Contraseña:</label><br>
            <input size="15" type="password" id="password" name="password">
        </div>
        <input type="submit" value="Entrar">
    </form>