<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>API Panel</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/api/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/api/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/api/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/api/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/api/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/api/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/api/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/api/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/api/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/api/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/api/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/api/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/api/images/favicon/favicon-16x16.png">
    <link rel="icon" type="image/svg+xml" href="/api/images/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/api/images/favicon/favicon.ico" />
    <link rel="manifest" href="/api/manifest.json">
    <meta name="application-TileColor" content="#ffffff">
    <meta name="application-TileImage" content="/api/images/favicon/ms-icon-144x144.png">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="description" content="API Panel">
    <meta property="og:title" content="API Panel">
    <meta property="og:url" content="{{ DASH_HOST }}/api/panel/">
    <meta property="og:description" content="API Panel">
    <meta property="og:image" content="/api/images/og-image-card.png">
    <meta property="og:image:alt" content="API Panel">
    <meta property="og:type" content="website">
</head>
<body>